@model List<Book>
<div class="col m-4">
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Title</th>
                <th>Description</th>
                <th>Author</th>
                <th>Price</th>
                <th>Likes</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var book in Model)
            {
               <tr>
                    <td>@book.Title</td>
                   <td>@book.Description</td>
                    <td>@book.Author</td>
                    <td>@book.Price</td>
                    <td><img width="16" height="16" src="https://img.icons8.com/tiny-color/16/like.png" alt="like" />@book.Likes</td>
               </tr>
            }
        </tbody>

    </table>
    
</div>